{{ partial "footer/copyright.html"  . -}}

{{ with site.Params.privacy_policy -}}
  <span class="ms-2"><a href="{{ . }}" target="_blank" rel="noopener">{{ T "footer_privacy_policy" }}</a></span>
{{- end -}}

{{ if ne site.Params.ui.footer_about_disable nil -}}
  {{ warnf "Config parameter '.params.ui.footer_about_disable' is DEPRECATED, use '.params.ui.footer_about_enable' instead." -}}
{{ end -}}

{{ if or site.Params.ui.footer_about_enable (eq site.Params.ui.footer_about_disable false) -}}
  {{ with site.GetPage "about" -}}
    <p class="td-footer__about mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
  {{- end -}}
{{ end -}}
